.DS_Store
.idea
index.php
nbproject
node_modules
vendor
typo3
public/uploads
public/typo3temp
public/typo3conf/ENABLE_INSTALL_TOOL
public/typo3conf/AdditionalConfiguration.php
public/typo3conf/*.log
public/typo3conf/ext/*
.sass-cache
var/*
!var/labels
_temp_
public/fileadmin
.ddev/config.local.yaml
*.cache
