.DS_Store
.idea
index.php
nbproject
node_modules
vendor
public/typo3
public/fileadmin/*
!public/fileadmin/form_definitions
public/typo3temp
public/typo3conf/ENABLE_INSTALL_TOOL
public/typo3conf/AdditionalConfiguration.php
public/typo3conf/ext/*
public/uploads
.sass-cache
var/*
_temp_
.ddev/config.local.yaml
*.cache
