<div class="container" xmlns:f="http://www.w3.org/1999/XSL/Transform">
  <div class="row">
    <div class="hidden-xs hidden-sm hidden-md col-lg-2">
      <div id="typo3Logo">
        <a href="http://www.typo3.org/" title="Zur TYPO3 Seite" target="_blank">
          <f:image src="EXT:typo3lexikon/Resources/Public/images/typo3-logo.png" class="img-responsive" alt="TYPO3 Logo" />
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <div id="logo">
        <a href="/" title="Hier geht es zur Startseite">
          <f:image src="EXT:typo3lexikon/Resources/Public/images/stefan-typo3-page-small.png" class="img-responsive" alt="Stefans TYPO3 Seite" />
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="search">
        <form action="{searchPage}" class="form-inline">
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Suchwort" value="{f:cObject(typoscriptObjectPath: 'lib.searchWord')}" />
          </div>
          <button type="submit" class="btn btn-default">Suchen</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <f:cObject typoscriptObjectPath="lib.leftNavigation" />
    </div>
    <div class="col-lg-10">
      <div id="main">
        <f:cObject typoscriptObjectPath="lib.breadcrumb" />
        <div class="content">
          <f:if condition="{data.uid} > 1">
            <f:cObject typoscriptObjectPath="lib.mainNavigation" />
          </f:if>
          <!--TYPO3SEARCH_begin-->
          <f:cObject typoscriptObjectPath="lib.content" />
          <!--TYPO3SEARCH_end-->
        </div>
      </div>
    </div>
  </div>
</div>
